article.nextmeeting
  h1 Next Meeting
  p
    img(src=appdata.meeting.where.img) 
    | Our next meeting will be on 
    | !{appdata.meeting.date}, !{appdata.meeting.time} at
    | !{appdata.meeting.where.name} !{appdata.meeting.where.address}
    
  p
    include social-media.jade
